<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/fa_IR/sdk.js#xfbml=1&version=v14.0" nonce="7XD5sKxA"></script>
</head>
<body>
    <div class="fb-comments" data-href="{{request.build_absolute_url}}" data-width="" data-numposts="2">hi</div>
</body>
</html>