.u-section-1 .u-sheet-1 {
  min-height: 719px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 633px;
  background-image: linear-gradient(#77aad9, #478ac9);
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-form-1 {
  height: 291px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-input-1 {
  background-image: none;
}

.u-section-1 .u-input-2 {
  background-image: none;
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(#f5d654, #f1c50e);
  border-style: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  width: 100%;
  font-weight: 700;
  padding: 11px 30px 12px;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  align-self: center;
  margin: 33px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  border-style: none none solid;
  align-self: center;
  margin: -26px 0 0 auto;
  padding: 0;
}

.u-section-1 .u-text-2 {
  margin: 64px auto 0;
}

.u-section-1 .u-btn-4 {
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-image-1 {
  min-height: 613px;
  background-image: url("images/55bf6225-c53e-4eef-a797-426c80af09a8.jpg");
  background-position: 0% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0 0 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 608px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 522px;
  }

  .u-section-1 .u-image-1 {
    min-height: 505px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 688px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 604px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -28px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 68px;
  }

  .u-section-1 .u-image-1 {
    min-height: 602px;
    background-position: 17.07% 50%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 982px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 588px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -26px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 48px;
  }

  .u-section-1 .u-image-1 {
    min-height: 903px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 767px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 610px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 30px;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 30px;
  }

  .u-section-1 .u-image-1 {
    min-height: 569px;
  }
}







    input[type='text']::placeholder
    {   
        text-align: right;      /* for Chrome, Firefox, Opera */
    }